<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Arcazon Edit Product</title>
<link
	th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css}"
	rel="stylesheet" />
</head>
<body>

	<div class="container mt-4">

		<div class="row justify-content-center">		
		
			<div class="col-lg-6">
			
				<div class="mb-3 p-4 text-white bg-dark text-center rounded shadow col-lg-12">
					<h1 class="h3 text-center">
						Edit Product - ID:<span th:text="${product.id}">1</span>
					</h1>
				</div>
			
				<form class="text-white bg-dark p-4 rounded shadow" 
				th:action="@{/products/edit}" method="post"
				th:object="${product}">
					<input type="hidden" th:field="*{id}" />
		
					<div class="mb-3 col-lg-6">
						<label class="form-label" for="name">Product Name:</label> <input
							type="text" class="form-control bg-dark text-white border-secondary" 
							id="name" th:field="*{name}" />
					</div>
		
					<div class="row">
						<div class="mb-3 col-lg-6">
							<label class="form-label" for="price">Price:</label> 
							<input
							type="text" class="form-control bg-dark text-white border-secondary" 
							id="price" th:field="*{price}" />
						</div>
						
						<div class="mb-3 col-lg-6">
							<label class="form-label" for="stock">Stock:</label> 
							<input
								type="text" class="form-control bg-dark text-white border-secondary" 
								id="stock" th:field="*{stock}" />
						</div>
					</div>


					<div class="mb-3 col-12">
						<label class="form-label" for="description">Description:</label> 
						<input type="text" class="form-control bg-dark text-white border-secondary" 
							id="description" th:field="*{description}" />
					</div>


		
					<div class="mb-3 col-lg-6">
						<label class="form-label" for="category">Category:</label> 
						<select	class="form-select bg-dark text-white border-secondary" 
							id="category" th:field="*{category.id}">
							<option 
								th:each="cat : ${categories}" 
								th:value="${cat.id}"
								th:text="${cat.name}">
							</option>
						</select>
					</div>
		
		
					<div class="row mt-3 gap-2">
						<button type="submit" class="btn btn-primary col-auto ms-2">Save</button> 
						<a class="btn btn-secondary col-auto" th:href="@{/products/{id}(id=${product.id})}">Back</a>
					</div>
				
				</form>
			
			</div>
			
		</div>
		

		
	</div>
</body>
</html>